log_slave_updates               	= ON
{% if 'db1' in inventory_hostname %}
read_only                       	= OFF
{% else %}
read_only                       	= ON
{% endif %}
relay_log                       	= /var/log/mysql/mariadb-relay
relay_log_index                 	= /var/log/mysql/mariadb-relay.index
relay-log-info-file             	= /var/log/mysql/mariadb-relay.info
report_host                     	= {{ inventory_hostname }}
sysdate_is_now                  	= ON
